{{ define "Header" }}
<!DOCTYPE html>
<html >
    <head>
        <title>Employee Curd </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>CRUD for Employees</h1>
    </body>    
     
{{ end }}